<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>欢迎页面</title>
        <base href="/">
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="css/font.css"/>
        <link rel="stylesheet" href="css/xadmin.css"/>
    </head>
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">欢迎进入微服务权限管理Demo</blockquote>
        </div>
    </body>
</html>