<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teradata.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.teradata.bean.po.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <sql id="Base_Column_List">
    role_id, role_name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ida_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ida_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.teradata.bean.po.Role">
    insert into ida_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.teradata.bean.po.Role">
    update ida_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>

  <select id="listRole" parameterType="com.teradata.bean.po.Role" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM ida_role
    <where>
      <if test="roleName != null and roleName !=''">
        AND  role_name like '%${roleName}%'
      </if>
    </where>
  </select>

</mapper>