<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teradata.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.teradata.bean.po.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, role_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ida_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.teradata.bean.po.UserRole">
    insert into ida_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.teradata.bean.po.UserRole">
    update ida_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--批量新增-->
  <insert id="batchInsert" parameterType="java.util.List">
    INSERT INTO ida_user_role(user_id,role_id) VALUES
    <trim suffixOverrides=",">
      <foreach item="item" index="index" collection="list">
        (#{item.userId},#{item.roleId}),
      </foreach>
    </trim>
  </insert>

  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from ida_user_role where  user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <select id="listUserRoles"  parameterType="com.teradata.bean.po.UserRole" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM ida_user_role
    <where>
      <if test="userId != null and userId !=0">
         AND user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="roleId != null and roleId !=0">
         AND role_id = #{roleId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>